* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	font-family: "Roboto", sans-serif;
	/* overflow: hidden; */
}

header.wrapper {
	margin-top: 20px;
}

.navbar-left span {
	font-size: 30px;
	font-weight: 700;
	font-style: italic;
	cursor: pointer;
}

.navbar-right a {
	margin-left: 20px;
	font-size: 20px;
	text-decoration: none;
    font-weight: 600;
	color: black;
}

.navbar-right a:hover {
	border-bottom: 2px solid black;
}

.navbar.flex {
	justify-content: space-between;
}

.hero {
	height: 550px;
}

.hero.grid {
	gap: 30px;
}

.hero img {
	width: 100%;
	margin-block: auto;
	clip-path: circle();
}

.hero .hero-text {
	border: 2px limegreen solid;
	padding: 20px 30px;
	flex-direction: column;
}

.hero-text h1 {
	font-size: 45px;
	font-weight: 900;
	margin-bottom: 30px;
}

.about h2{
	text-align: center;
	font-size: 40px;
}

/* Utility class */
.wrapper {
	max-width: 1100px;
	margin: 40px auto;
	padding: 10px 15px;
	border: 2px solid red;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
