* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	font-family: "Roboto", sans-serif;
	/* overflow: hidden; */
}

.navbar-left span {
	font-size: 30px;
	font-weight: 700;
	font-style: italic;
	cursor: pointer;
}

.navbar-right a {
	margin-left: 20px;
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.navbar-right a:hover {
	border-bottom: 2px solid black;
}

.hero {
    height: 550px;
}

/* Utility class */
.wrapper {
	max-width: 1100px;
	margin: 20px auto;
	padding: 10px 15px;
	border: 2px solid red;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}